.todo-task-component__input-wrapper {
    margin-top: 15px;
}

.todo-task-component__list {
    margin-top: 10px;
    max-width: 750px;
    margin: 0 auto;
}

.todo-task-component__list__table {
    margin-top: 20px;
}

.todo-task-component__list__col--last {
    text-align: right;
}

.fa-remove {
    color: #d9534f;
}