<div class="container todo-task-component">
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <div class="input-group todo-task-component__input-wrapper">
                <input [(ngModel)]="taskName" (keydown)="event_addNewTaskOnInput($event)" type="text" class="form-control" placeholder="task...">
              <span class="input-group-btn">
                  <button class="btn btn-primary" (click)="event_addNewTask()" type="button">Add task</button>
              </span>
            </div>
        </div>
        <div class="col-lg-3"></div>
    </div>
    <todo-list [tasks]="tasks"></todo-list>
</div>